BasedOnStyle: LLVM

ColumnLimit: 100
IndentWidth: 4
AllowShortFunctionsOnASingleLine: Empty
AlignArrayOfStructures: Right
AllowShortEnumsOnASingleLine: false
AlignAfterOpenBracket: BlockIndent
AllowAllArgumentsOnNextLine: true
BinPackArguments: false
